* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

nav{
    height: 150px;
}

a {
    color:white;
    text-decoration: none;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 12.9rem;
    font-size: 30px;
    position: fixed;
    z-index: 2;
    padding:40px 50px 10px 50px  ;
    border-bottom: white 2px solid;
    background: #595653;
}

.nav :hover {
    color:#f9c713;
}

body {
    background:  #595653;
    color: white;
}
.paint-img{
    position: relative;
   bottom: 608px;
   left: 50em;
}

.img {
   display: flex;
   position: relative;
   bottom: 200px;
   left: 58em;
   z-index: 1;
}

.page1 {
    display: inline;
    width: 300px;
    position: relative;
    left: 250px;
    top: 100px;
    font-size: 50px;
}

#Home {
    padding: 8px;
    scroll-margin-top: 150px;
}

#santhosh {
    padding: 8px;
    position: relative;
    right: 100px;
}

.page1 p {
    padding: 5px;
    font-size: 25px;
    position: relative;
    left: 100px;
}


#Aboutme{
    scroll-margin-top: 150px; 
}

.page2 h2 {
    color: black;
    background-color: #f9c713;
    display: inline;
    position: relative;
    top: 250px;
    left: 100px;
    font-size: 40px;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    box-shadow:   black 1px 1px 5px 4px;
}

.page2 p {
    position: relative;
    top: 250px;
    left: 200px;
    font-size: 35px;
    display: flex;
    padding: 220px;
}

.page3 div img {
    height: 50px;
    width: 50px;
}

#Skills {
    color: black;
    background-color: #f9c713;
    display: inline;
    position: relative;
    left: 300px;
    font-size: 40px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    scroll-margin-top: 150px;
    box-shadow:  black  1px 1px 5px 4px;
}


.img1 {
    position: relative;
    right: 70px;
    padding-bottom: 70px;
}

.page3 {
    padding: 400px 300px 100px 300px;
    font-size: 30px;
}

.img2 {
    position: relative;
    right: 70px;
    padding-bottom: 70px;
}

.java {
    position: relative;
    left: 600px;
    bottom: 255px;
}

.css {
    position: relative;
    top: 100px;
}

.img3 {
    position: relative;
    padding-bottom: 70px;
}

#problem {
    position: relative;
    right: 50px;
}

#Qualification {
    color: black;
    background-color: #f9c713;
    display: inline;
    position: relative;
    left: 100px;
    font-size: 40px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    scroll-margin-top: 150px;
    box-shadow:  black 1px 1px 5px 4px;
}

.page4 {
    padding-bottom: 350px;
}

#year {
    position: relative;
    left: 320px;
    padding-bottom: 70px;
}

#web {
    font-size: 40px;
    position: relative;
    top:40px;
    right: 370px;
    font-weight: 500px;
}
.study{
    position: relative;
    right: 200px;
}

.pharagarph {
    position: relative;
    left: 550px;
    top: 100px;
    font-size: 30px;
}

#place {
    position: relative;
    left: 200px;
}

#dot {
    font-size: 50px;
    position: relative;
    top: 40px;
    right: 360px;
    font-weight: 500px;
}

#Contact {
    color: black;
    background-color: #f9c713;
    border: 0px solid;
    padding: 20px;
    border-radius: 50px;
    position: relative;
    bottom: 150px;
    font-size: 40px;
    box-shadow:  black 1px 1px 5px 4px;
}

.footer {
    margin: 200px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    right: 150px;
    bottom: 50px;
    padding-top: 100px;
}

.footer div ul {
    list-style: none;
}

.contact-data ul li {
    margin-bottom: 100px;
    position: relative;
    top: 50px;
}

#linkedin {
    position: relative;
    right: 20px;
}

#mail {
    position: relative;
    left: 8px;
}
.contact-data :hover{
    color: #f9c713;
}
