* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color:black;
}

/* navbar */

.header h1{
    color: white;
    font-size: 30px;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding-left: 40px;
    transition: all 0.5s;
}
.navbar :hover{
    color: #f9c713;
    padding: 20px;
}
.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    border-bottom: white  2px solid ;
    padding: 20px ;
}

/* home-page */

.home-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    color: white;
    padding-bottom: 270px;
    padding-top: 140px;
    flex-wrap: wrap;
}

.container-1{
    line-height: 100px;
    padding-left: 100px;
}
.hello{
    color: #f9c713;
}

#Home {
    scroll-margin-top: 210px;
}

/* about-page */

.about-page{
    padding-bottom: 50px;
}
.container-2{
    margin: 100px 0px 300px 0px;
    font-size: 30px;
    color: white;
    text-align: center;
    flex-wrap: wrap;
    padding: 50px;
}
h2{
   color: black;
   background-color: #f9c713;
   display: inline;
   padding: 15px 30px 15px 30px ;
   border-radius: 50px;
   margin-left: 100px;
   font-size: 30px;
   box-shadow:  2px 4px 5px white;
   transition: all 0.5s;
}
h2:hover{
     padding: 15px;
}
#Aboutme{
    scroll-margin-top: 150px;
}
.place, .education{
  padding-top: 50px ;
}

/* skills-page */

.skills-page img{
    width: 50px;
}
.container-3{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    font-size: 30px;
    flex-wrap: wrap;
}
.skills-page{
    text-align: center;
    padding: 0px 0px 300px 0px;
    color: white;
}
.img1,.img3{
    padding-bottom: 100px;
}
.skills-page h2{
    margin: 0;
}
#Skills{
    scroll-margin-top: 250px;
}

/* portfoilo-page */
.container-4 img{
    width: 300px;
     height: 400px;
     border-radius: 15px;
}
.container-4{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 300px;
}
.project-box{
    border: solid 1px black;
    padding: 5px ;
    background-color: #f9c713;
    border-radius: 15px;
    text-align: center;
    box-shadow: 8px 8px 10px white;
    transition: all 0.5s;
    margin: 20px;
}
.project-box:hover{
    padding: 20px;
}
.project-box h3{
    padding: 10px 0px 10px 0px;
}
#project{
    scroll-margin-top: 150px;
}

/* contact-page */

.container-5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.contact-data-img {
    padding-left: 500px;
    text-align: center;
    padding-top: 20px;
}
.contact-data{
    padding-right: 300px;
    padding-top: 40px;
    line-height: 125px;
}  
.contact-data a{
    text-decoration: none;
    color: white;
}
.contact-page{
    margin-bottom: 200px;
}
.contact-data :hover{
    color: #f9c713;
}



@media screen and (max-width: 1215px){
    .contact-data{
        padding-right: 200px;
    }
    .contact-data-img{
        padding-left: 300px;
    }
}



@media screen and (max-width: 1100px){
.img {
    order: 1;
}
.container-1{
    order: 2;
}
.container-3{
    margin-top: 100px;
    grid-template-columns: 1fr;
    font-size: 20px;
}
.js-ps .java{
    margin-top: 100px;
}
.img img{
    height: auto;
    width: 400px;
}
.home-page{
    font-size: 20px;
}
.container-1{
    line-height: 40px;
    padding-left: 50px;
}
.container-5{
     font-size: 20px;
}
.navbar a{
    font-size: 17px;
    padding-left: 0px;
    padding: 5px;
}
.header h1{
    color: white;
    font-size: 10px;
    padding-top: 10px;
}
.navbar :hover{
    color: #f9c713;
    padding: 10px;
}
.header{

    padding: 20px ;
}
.contact-data-img {
    padding-left: 300px;
}
.contact-data{
    padding-right:250px;
    padding-top: 40px;
}  
}



@media screen and (max-width: 800px){
    .contact-data{
        padding-right: 150px;
    }
    .contact-data-img{
        padding-left: 150px;
    }
}



@media screen and (max-width: 600px){
    .contact-data{
        padding-right: 50px;
    }
    .contact-data-img{
        padding-left: 50px;
    }
}



@media screen and (max-width: 500px){
    .img img{
        height: auto;
        width: 350px;
    }
    h2{
        padding: 5px 15px 5px 15px ;
        margin-left: 80px;
        font-size: 20px;
     }
     .project-box img{
        width: 150px;
        height: auto;
     }
    .container-3 img{
        width: 20px;
        font-weight:bolder;
    }  
    .navbar a{
        font-size: 15px;
        padding: 9px;
    } 
    .header h1{
        display: none;
    } 
    .header{
        padding: 15px 0px 15px 0px ;
    }
    .container-2 p{
        font-size: 20px;
    }
    .container-3 .img1, .img2, .img3, .img4{
        padding-bottom: 15px;
    }
    .js-ps .java{
        margin-top: 10px;
    }
    .container-5{
        font-size: 10px;
   }
   .contact-data{
       padding-right: 30px;
   }
   .contact-data-img{
    padding-left: 35px;
}



}
@media screen and (max-width: 350px){
    .contact-data{
        padding-right: 5px;
    }
    .contact-data-img{
        padding-left: 20px;
    }
    .container-5{
        font-size: 10px;
   }
   .img img{
    height: auto;
    width: 300px;
   }
}
